:root {
    --color1: blueviolet;
}
* {
    background-color: #22272c;
}
section{
    margin-top: 50px;
}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color1);
    margin-top: 20px;
}
.questions {
    display: flex;
    justify-content: center;
    color: blueviolet;
}
.answers{
    display: flex;
    justify-content: center;
    color: aqua;
}

.wrapper {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#startbutton {
    font-size: 50px;
    color: green;
    border-style: solid;
    border-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

